*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* modifiche menu del sito */

 .menu-principale li {
  list-style-type: none;
  text-align: center;
  line-height: 50px;
  margin: 20px;
}

.menu-principale li, .menu-principale a{
  height: 50px;
  width:50px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 2px #808080;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

/* posizionamento menu */
.menu-principale {
  text-align: right;
  background-color: red;
}

/* grandezze section */

.sezione-centrale{
  height:100vh;
  background-color: red;
  position:relative;
}
/* posizionamento immagine e testo */
.prodotto{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

/* formattazione descrizione prodotto */
.descrizione-prodotto{
  text-transform: uppercase;
  color:#FFFF00;
  font-size: 60px;
  font-weight: bold;
  font-family: arial;
}
/* grandezza immagine */
.prodotto img{
  height:400px;
}
