*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* modifiche menu del sito */

 .menu-principale li {
  list-style-type: none;
  margin: 20px;
  display: inline-block;
}


 .menu-principale a{
  height: 50px;
  width:50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: white;
  box-shadow: 1px 1px 2px #808080;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Coda Caption', sans-serif;
}

/* posizionamento menu */
.menu-principale {
  position: fixed;
  z-index: 5;
  right:0px;
}

/* grandezze section */

.sezione-centrale{
  height:100vh;
  background-color: red;
  position:relative;
}
/* posizionamento immagine e testo */
.prodotto{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:50vw;
  text-align: center;
}

/* formattazione descrizione prodotto */
.descrizione-prodotto{
  text-transform: uppercase;
  color:#FFFF00;
  font-size: 3vw;
  font-weight: bold;
  font-family: arial;
  font-family: 'Coda Caption', sans-serif;
}
/* grandezza immagine */
.prodotto img{
  width:100%;
}
/* variazione colori di sfondo */
.secondo-prodotto{
  background-color: #008000;
}
.terzo-prodotto{
  background-color: #FFFF00;
}

.terzo-prodotto .descrizione-prodotto{
  color:#008000;
}
